<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>

<body>

    <header>
        <div class="content-wrapper">
            <div class="float-right">
                <p class="site-title">@Html.ActionLink("Sales statistics display system", "Index", "Home")</p>
            </div>

            <div class="float-right">

                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Sales", "Sales")</li>
                        <li>@Html.ActionLink("Managers", "Managers")</li>
                        <li>@Html.ActionLink("Managers chart", "ManagersChart")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    <footer>
        <p>&copy;  @DateTime.Now.Year - My Application</p>
    </footer>

    @RenderSection("scripts", required: false)

</body>
</html>